.photo-container {
    width: 75%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.nasa-photo {
    max-width: 70%;
    max-height: 90vh;
}

.photo-title {
    padding: 16px 0;
    font-size: 32px;
}

.padding-description {
    padding: 16px 0;
}

.title {
    font-size: 32px;
    padding: 16px 0;
}
